body {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  /*padding-top: 70px;*/
  -webkit-font-smoothing: antialiased;
}

.light {
  color: #e66800;
  background-color: #f7f7f7;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

h1#landing-title {
  color: #ff6763;
  font-size: 3em;
  font-weight: 400;
  text-decoration: underline;
}

/*http://www.paletton.com/#uid=75A0u0knl++bp+PhV+Yt1+WH7ZC*/

.landing-hr-blue {
  border-top: 1px solid #00c3e3;
  margin: .5rem 0;
}

.landing-hr-gray {
  border-top: 1px solid #ccc;
  margin: .5rem 0;
}

.landing-hr-orange {
  border-top: 1px solid #ff6763;
  margin: .5rem 0;
}

.landing-hr-pink {
  border-top: 3px solid #ff4554;
  margin: .5rem 0;
}

.landing-hr-yellow {
  border-top: 2px solid #ffcba4;
  margin: .5rem 0;
}

#landing-header {
  padding-top: 20px;
}

p#landing-lead {
  color: #777;
  font-family: 'Zilla Slab', serif;
  font-size: 1.25em;
  font-weight: 400;
}

p#signup-lead {
  color: #777;
  font-family: 'Zilla Slab', serif;
  font-size: 1.25em;
  font-weight: 400;
}

#landing-body {
  color: #777;
  font-family: 'Zilla Slab', serif;
  font-size: 1em;
  font-weight: 400;
  padding-top: 10px;
}

.features {
  padding: 10px 0;
}

.features h4 {
  color: #ff6763;
  font-weight: 400;
}

#landing-footer {
  /*background-color: #808080;*/
}

#team {
  color: #777;
  font-family: 'Zilla Slab', serif;
  font-size: 1em;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 10px;
}

#team ul {
  margin-left: 0;
}

#team li {
  list-style-type: none;
}
