body {
  color: #e66800;
  background-color: #fafafa;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  padding-top: 70px;
  -webkit-font-smoothing: antialiased;
}

h1#landing-title {
  font-weight: 700;
}

p#landing-lead {
  color: #777;
  font-family: 'Zilla Slab', serif;
  font-weight: 400;
}

#signup-form {
  background-color: inherit;
  border: none;
  font-family: 'Zilla Slab', serif;
  font-weight: 400;
}

/*.shadow-text {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  text-shadow: .5px 1px 2px #ccc;
}*/
